@charset "UTF-8";
/**
  基础变量
 */
/*
*   颜色系统
*/
/**
  灰度列表
 */
/**
  其他数值
 */
/**
  基础变量
 */
/*
*   颜色系统
*/
/**
  灰度列表
 */
/**
  其他数值
 */


body{
  font-family: NotoSans!important;
}
textarea{
  font-family: NotoSans!important;
}
.bg-brown {
  background-color: #e1d6d1;}
.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-light {
  background-color: #f0f0f0; }

.text-pink {
  color: #FE8888; }

.text-orange {
  color: #f8750a; }

.text-red {
  color: #f7422e; }

.text-yellow {
  color: #ffc107; }

.text-green {
  color: #28a745; }

.text-blue {
  color: #007bff; }

.text-blue-lesson {
  color: #4285f4;
}

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-darker {
  color: #737373; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-indent {
  text-indent: 2em; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-delete {
  text-decoration: line-through; }

.text-vcenter {
  display: table-cell;
  vertical-align: middle; }

.text-vtop {
  display: table-cell;
  vertical-align: top; }

.text-vbottom {
  display: table-cell;
  vertical-align: bottom; }

.text-limit1, .text-fixed1, .text-limit2, .text-fixed2, .text-limit3, .text-fixed3, .text-limit4, .text-fixed4, .text-limit5, .text-fixed5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; }

.text-limit1 {
  -webkit-line-clamp: 1; }

.text-fixed1 {
  height: 1.42857em;
  -webkit-line-clamp: 1; }

.text-limit2 {
  -webkit-line-clamp: 2; }

.text-fixed2 {
  height: 2.85714em;
  -webkit-line-clamp: 2; }

.text-limit3 {
  -webkit-line-clamp: 3; }

.text-fixed3 {
  height: 4.28571em;
  -webkit-line-clamp: 3; }

.text-limit4 {
  -webkit-line-clamp: 4; }

.text-fixed4 {
  height: 5.71429em;
  -webkit-line-clamp: 4; }

.text-limit5 {
  -webkit-line-clamp: 5; }

.text-fixed5 {
  height: 7.14286em;
  -webkit-line-clamp: 5; }

.fw-light {
  font-weight: 300 !important; }

.fw-lighter {
  font-weight: lighter !important; }

.fw-normal {
  font-weight: 400 !important; }

.fw-bold {
  font-weight: 700 !important; }

.fw-bolder {
  font-weight: bolder !important; }

.font-italic {
  font-style: italic !important; }

/**
  按钮变形
 */
.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0px;
  color: #fff;
  background-color: #b89267;
  padding: 5.75px 15px;
  font-size: 15px;
  line-height: 21px;
  height: 32.5px; }
  .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active,
  fieldset[disabled] .btn,
  fieldset[disabled] .btn:hover,
  fieldset[disabled] .btn:focus,
  fieldset[disabled] .btn.focus,
  fieldset[disabled] .btn:active,
  fieldset[disabled] .btn.active {
    background-color: #b89267; }
  .btn:active {
    background-color: #a1794b;
    color: #e6e6e6; }
  .btn .badge {
    position: relative;
    top: -2px; }
  .btn.radius {
    border-radius: 5px; }
  .btn.pill {
    border-radius: 50px; }

.btn.base {
  padding: 5.75px 15px;
  font-size: 15px;
  line-height: 21px;
  height: 32.5px; }
  .btn.base .badge {
    position: relative;
    top: -2px; }

.btn.small {
  padding: 4.65px 10px;
  font-size: 13px;
  line-height: 18.2px;
  height: 27.5px; }
  .btn.small .badge {
    position: relative;
    top: -2px; }

.btn.big {
  padding: 10.8px 15px;
  font-size: 16px;
  line-height: 22.4px;
  height: 44px; }
  .btn.big .badge {
    position: relative;
    top: -2px; }

.btn.white {
  color: #000;
  background-color: #fff;
  border-color: #fff; }
  .btn.white.disabled, .btn.white.disabled:hover, .btn.white.disabled:focus, .btn.white.disabled.focus, .btn.white.disabled:active, .btn.white.disabled.active, .btn.white[disabled], .btn.white[disabled]:hover, .btn.white[disabled]:focus, .btn.white[disabled].focus, .btn.white[disabled]:active, .btn.white[disabled].active,
  fieldset[disabled] .btn.white,
  fieldset[disabled] .btn.white:hover,
  fieldset[disabled] .btn.white:focus,
  fieldset[disabled] .btn.white.focus,
  fieldset[disabled] .btn.white:active,
  fieldset[disabled] .btn.white.active {
    background-color: #fff;
    border-color: #fff; }
  .btn.white:active {
    background-color: #e6e6e6;
    color: #928080; }
  .btn.white.btn-reverse, .btn.white.reverse {
    color: #fff;
    background-color: white;
    border-color: #fff; }
    .btn.white.btn-reverse.disabled, .btn.white.btn-reverse.disabled:hover, .btn.white.btn-reverse.disabled:focus, .btn.white.btn-reverse.disabled.focus, .btn.white.btn-reverse.disabled:active, .btn.white.btn-reverse.disabled.active, .btn.white.btn-reverse[disabled], .btn.white.btn-reverse[disabled]:hover, .btn.white.btn-reverse[disabled]:focus, .btn.white.btn-reverse[disabled].focus, .btn.white.btn-reverse[disabled]:active, .btn.white.btn-reverse[disabled].active,
    fieldset[disabled] .btn.white.btn-reverse,
    fieldset[disabled] .btn.white.btn-reverse:hover,
    fieldset[disabled] .btn.white.btn-reverse:focus,
    fieldset[disabled] .btn.white.btn-reverse.focus,
    fieldset[disabled] .btn.white.btn-reverse:active,
    fieldset[disabled] .btn.white.btn-reverse.active, .btn.white.reverse.disabled, .btn.white.reverse.disabled:hover, .btn.white.reverse.disabled:focus, .btn.white.reverse.disabled.focus, .btn.white.reverse.disabled:active, .btn.white.reverse.disabled.active, .btn.white.reverse[disabled], .btn.white.reverse[disabled]:hover, .btn.white.reverse[disabled]:focus, .btn.white.reverse[disabled].focus, .btn.white.reverse[disabled]:active, .btn.white.reverse[disabled].active,
    fieldset[disabled] .btn.white.reverse,
    fieldset[disabled] .btn.white.reverse:hover,
    fieldset[disabled] .btn.white.reverse:focus,
    fieldset[disabled] .btn.white.reverse.focus,
    fieldset[disabled] .btn.white.reverse:active,
    fieldset[disabled] .btn.white.reverse.active {
      background-color: white;
      border-color: #fff; }
    .btn.white.btn-reverse:active, .btn.white.reverse:active {
      background-color: #e6e6e6;
      color: #e6e6e6; }

.btn.blue {
  color: white;
  background-color: #007bff;
  border-color: #007bff; }
  .btn.blue.disabled, .btn.blue.disabled:hover, .btn.blue.disabled:focus, .btn.blue.disabled.focus, .btn.blue.disabled:active, .btn.blue.disabled.active, .btn.blue[disabled], .btn.blue[disabled]:hover, .btn.blue[disabled]:focus, .btn.blue[disabled].focus, .btn.blue[disabled]:active, .btn.blue[disabled].active,
  fieldset[disabled] .btn.blue,
  fieldset[disabled] .btn.blue:hover,
  fieldset[disabled] .btn.blue:focus,
  fieldset[disabled] .btn.blue.focus,
  fieldset[disabled] .btn.blue:active,
  fieldset[disabled] .btn.blue.active {
    background-color: #007bff;
    border-color: #007bff; }
  .btn.blue:active {
    background-color: #0062cc;
    color: #e6e6e6; }
  .btn.blue.btn-hollow, .btn.blue.hollow {
    border-style: solid;
    border-width: 0.5px;
    color: #007bff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #007bff; }
    .btn.blue.btn-hollow.disabled, .btn.blue.btn-hollow.disabled:hover, .btn.blue.btn-hollow.disabled:focus, .btn.blue.btn-hollow.disabled.focus, .btn.blue.btn-hollow.disabled:active, .btn.blue.btn-hollow.disabled.active, .btn.blue.btn-hollow[disabled], .btn.blue.btn-hollow[disabled]:hover, .btn.blue.btn-hollow[disabled]:focus, .btn.blue.btn-hollow[disabled].focus, .btn.blue.btn-hollow[disabled]:active, .btn.blue.btn-hollow[disabled].active,
    fieldset[disabled] .btn.blue.btn-hollow,
    fieldset[disabled] .btn.blue.btn-hollow:hover,
    fieldset[disabled] .btn.blue.btn-hollow:focus,
    fieldset[disabled] .btn.blue.btn-hollow.focus,
    fieldset[disabled] .btn.blue.btn-hollow:active,
    fieldset[disabled] .btn.blue.btn-hollow.active, .btn.blue.hollow.disabled, .btn.blue.hollow.disabled:hover, .btn.blue.hollow.disabled:focus, .btn.blue.hollow.disabled.focus, .btn.blue.hollow.disabled:active, .btn.blue.hollow.disabled.active, .btn.blue.hollow[disabled], .btn.blue.hollow[disabled]:hover, .btn.blue.hollow[disabled]:focus, .btn.blue.hollow[disabled].focus, .btn.blue.hollow[disabled]:active, .btn.blue.hollow[disabled].active,
    fieldset[disabled] .btn.blue.hollow,
    fieldset[disabled] .btn.blue.hollow:hover,
    fieldset[disabled] .btn.blue.hollow:focus,
    fieldset[disabled] .btn.blue.hollow.focus,
    fieldset[disabled] .btn.blue.hollow:active,
    fieldset[disabled] .btn.blue.hollow.active {
      background-color: rgba(255, 255, 255, 0);
      border-color: #007bff; }
    .btn.blue.btn-hollow:active, .btn.blue.hollow:active {
      background-color: rgba(230, 230, 230, 0);
      color: #0062cc; }

/* Box model */
/**
  基础变量
 */
/*
*   颜色系统
*/
/**
  灰度列表
 */
/**
  其他数值
 */
/**
  外边距、内边距
 */
.margin0 {
  margin: 0rem; }

.margint0, .marginv0 {
  margin-top: 0rem; }

.marginb0, .marginv0 {
  margin-bottom: 0rem; }

.marginl0, .marginh0 {
  margin-left: 0rem; }

.marginr0, .marginh0 {
  margin-right: 0rem; }

.margint-n0 {
  margin-top: 0rem; }

.marginb-n0 {
  margin-bottom: 0rem; }

.marginl-n0 {
  margin-left: 0rem; }

.marginr-n0 {
  margin-right: 0rem; }

.padding0 {
  padding: 0rem; }

.paddingt0, .paddingv0 {
  padding-top: 0rem; }

.paddingb0, .paddingv0 {
  padding-bottom: 0rem; }

.paddingl0, .paddingh0 {
  padding-left: 0rem; }

.paddingr0, .paddingh0 {
  padding-right: 0rem; }

.margin10 {
  margin: 0.13333rem; }

.margint10, .marginv10 {
  margin-top: 0.13333rem; }

.marginb10, .marginv10 {
  margin-bottom: 0.13333rem; }

.marginl10, .marginh10 {
  margin-left: 0.13333rem; }

.marginr10, .marginh10 {
  margin-right: 0.13333rem; }

.margint-n10 {
  margin-top: -0.13333rem; }

.marginb-n10 {
  margin-bottom: -0.13333rem; }

.marginl-n10 {
  margin-left: -0.13333rem; }

.marginr-n10 {
  margin-right: -0.13333rem; }

.padding10 {
  padding: 0.13333rem; }

.paddingt10, .paddingv10 {
  padding-top: 0.13333rem; }

.paddingb10, .paddingv10 {
  padding-bottom: 0.13333rem; }

.paddingl10, .paddingh10 {
  padding-left: 0.13333rem; }

.paddingr10, .paddingh10 {
  padding-right: 0.13333rem; }

.margin20 {
  margin: 0.26667rem; }

.margint20, .marginv20 {
  margin-top: 0.26667rem; }

.marginb20, .marginv20 {
  margin-bottom: 0.26667rem; }

.marginl20, .marginh20 {
  margin-left: 0.26667rem; }

.marginr20, .marginh20 {
  margin-right: 0.26667rem; }

.margint-n20 {
  margin-top: -0.26667rem; }

.marginb-n20 {
  margin-bottom: -0.26667rem; }

.marginl-n20 {
  margin-left: -0.26667rem; }

.marginr-n20 {
  margin-right: -0.26667rem; }

.padding20 {
  padding: 0.26667rem; }

.paddingt20, .paddingv20 {
  padding-top: 0.26667rem; }

.paddingb20, .paddingv20 {
  padding-bottom: 0.26667rem; }

.paddingl20, .paddingh20 {
  padding-left: 0.26667rem; }

.paddingr20, .paddingh20 {
  padding-right: 0.26667rem; }

.margin30 {
  margin: 0.4rem; }

.margint30, .marginv30 {
  margin-top: 0.4rem; }

.marginb30, .marginv30 {
  margin-bottom: 0.4rem; }

.marginl30, .marginh30 {
  margin-left: 0.4rem; }

.marginr30, .marginh30 {
  margin-right: 0.4rem; }

.margint-n30 {
  margin-top: -0.4rem; }

.marginb-n30 {
  margin-bottom: -0.4rem; }

.marginl-n30 {
  margin-left: -0.4rem; }

.marginr-n30 {
  margin-right: -0.4rem; }

.padding30 {
  padding: 0.4rem; }

.paddingt30, .paddingv30 {
  padding-top: 0.4rem; }

.paddingb30, .paddingv30 {
  padding-bottom: 0.4rem; }

.paddingl30, .paddingh30 {
  padding-left: 0.4rem; }

.paddingr30, .paddingh30 {
  padding-right: 0.4rem; }

.margin40 {
  margin: 0.53333rem; }

.margint40, .marginv40 {
  margin-top: 0.53333rem; }

.marginb40, .marginv40 {
  margin-bottom: 0.53333rem; }

.marginl40, .marginh40 {
  margin-left: 0.53333rem; }

.marginr40, .marginh40 {
  margin-right: 0.53333rem; }

.margint-n40 {
  margin-top: -0.53333rem; }

.marginb-n40 {
  margin-bottom: -0.53333rem; }

.marginl-n40 {
  margin-left: -0.53333rem; }

.marginr-n40 {
  margin-right: -0.53333rem; }

.padding40 {
  padding: 0.53333rem; }

.paddingt40, .paddingv40 {
  padding-top: 0.53333rem; }

.paddingb40, .paddingv40 {
  padding-bottom: 0.53333rem; }

.paddingl40, .paddingh40 {
  padding-left: 0.53333rem; }

.paddingr40, .paddingh40 {
  padding-right: 0.53333rem; }

.margin50 {
  margin: 0.66667rem; }

.margint50, .marginv50 {
  margin-top: 0.66667rem; }

.marginb50, .marginv50 {
  margin-bottom: 0.66667rem; }

.marginl50, .marginh50 {
  margin-left: 0.66667rem; }

.marginr50, .marginh50 {
  margin-right: 0.66667rem; }

.margint-n50 {
  margin-top: -0.66667rem; }

.marginb-n50 {
  margin-bottom: -0.66667rem; }

.marginl-n50 {
  margin-left: -0.66667rem; }

.marginr-n50 {
  margin-right: -0.66667rem; }

.padding50 {
  padding: 0.66667rem; }

.paddingt50, .paddingv50 {
  padding-top: 0.66667rem; }

.paddingb50, .paddingv50 {
  padding-bottom: 0.66667rem; }

.paddingl50, .paddingh50 {
  padding-left: 0.66667rem; }

.paddingr50, .paddingh50 {
  padding-right: 0.66667rem; }

.paddingt150 {
  padding-top: 2rem
}

.border {
  border: 1px solid #d9d9d9; }
  .borderl {
    border-left: 1px solid #d9d9d9; }
  .borderr {
    border-right: 1px solid #d9d9d9; }
  .bordert {
    border-top: 1px solid #d9d9d9; }
  .borderb {
    border-bottom: 1px solid #d9d9d9; }
  .borderh {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9; }
  .borderv {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
  .bordern {
    border: none; }
  .border.item > * {
    border: 1px solid #d9d9d9; }
  .border.itemv > *, .border.itemh > * {
    border-top: 1px solid #d9d9d9; }
    .border.itemv > *:first-child, .border.itemh > *:first-child {
      border-top: none; }
  .border.round {
    border-radius: 50%; }
  .border.radius {
    border-radius: 4px; }

.bordert.light,
.borderr.light,
.borderb.light,
.borderl.light {
  position: relative; }
  .bordert.light::before,
  .borderr.light::before,
  .borderb.light::before,
  .borderl.light::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ebebeb; }

.bordert.light::before {
  bottom: auto;
  height: 1px;
  transform: scaleY(0.5); }

.borderr.light::before {
  left: auto;
  width: 1px;
  transform: scaleX(0.5); }

.borderb.light::before {
  top: auto;
  height: 1px;
  transform: scaleY(0.5); }

.borderl.light::before {
  right: auto;
  width: 1px;
  transform: scaleX(0.5); }

/**
  Layout 布局
 */
/**
  基础变量
 */
/*
*   颜色系统
*/
/**
  灰度列表
 */
/**
  其他数值
 */
/**
  位置调整
 */
.float-right {
  float: right; }

.float-left {
  float: left; }

.pos-r {
  position: relative; }

.pos-a, .vcenter, .hcenter, .fullcenter, .abs-bottom,
.abs-top,
.abs-full,
.abs-left,
.abs-right {
  position: absolute; }

.pos-f, .fixed-bottom,
.fixed-top,
.fixed-full,
.fixed-left,
.fixed-right,
.fixed-center {
  position: fixed; }

.vcenter {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.hcenter {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.fullcenter {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.clearfix::before, .clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

.abs-bottom,
.fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0; }

.abs-top,
.fixed-top {
  top: 0;
  left: 0;
  right: 0; }

.abs-full,
.fixed-full,
.fixed-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.fixed-center {
  margin: auto; }

.abs-left,
.fixed-left {
  top: 0;
  bottom: 0;
  left: 0; }

.abs-right,
.fixed-right {
  top: 0;
  bottom: 0;
  right: 0; }

.overflow-h {
  overflow: hidden; }

.overflow-xh {
  overflow-x: hidden; }

.overflow-yh {
  overflow-x: hidden; }

.overflow-i {
  overflow: initial; }

.dis-b {
  display: block; }

.dis-i {
  display: inline-block; }

.dis-n {
  display: none; }

/**
  Flex布局
 */
.flex-container, .flex-container-col, .img-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .flex-container.round, .round.flex-container-col, .round.img-container {
    justify-content: space-around; }
  .flex-container.center, .center.flex-container-col, .img-container {
    justify-content: center; }
  .flex-container.left, .left.flex-container-col, .left.img-container {
    justify-content: flex-start; }
  .flex-container.right, .right.flex-container-col, .right.img-container {
    justify-content: flex-end; }
  .flex-container.top, .top.flex-container-col, .top.img-container {
    align-items: flex-start; }
  .flex-container.line, .line.flex-container-col, .line.img-container {
    align-items: baseline; }
  .flex-container.bottom, .bottom.flex-container-col, .bottom.img-container {
    align-items: flex-end; }
  .flex-container.vfull, .vfull.flex-container-col, .vfull.img-container {
    align-items: stretch; }
  .flex-container.hfull > *, .hfull.flex-container-col > *, .hfull.img-container > * {
    flex: 1; }
  .flex-container.leftCenter, .leftCenter.flex-container-col, .leftCenter.img-container {
    justify-content: flex-start; }
  .flex-container.leftTop, .leftTop.flex-container-col, .leftTop.img-container {
    justify-content: flex-start;
    align-items: flex-start; }
  .flex-container.leftBottom, .leftBottom.flex-container-col, .leftBottom.img-container {
    justify-content: flex-start;
    align-items: flex-end; }
  .flex-container.leftLine, .leftLine.flex-container-col, .leftLine.img-container {
    justify-content: flex-start;
    align-items: baseline; }
  .flex-container.rightCenter, .rightCenter.flex-container-col, .rightCenter.img-container {
    justify-content: flex-end; }
  .flex-container.rightTop, .rightTop.flex-container-col, .rightTop.img-container {
    justify-content: flex-end;
    align-items: flex-start; }
  .flex-container.rightBottom, .rightBottom.flex-container-col, .rightBottom.img-container {
    justify-content: flex-end;
    align-items: flex-end; }
  .flex-container.rightLine, .rightLine.flex-container-col, .rightLine.img-container {
    justify-content: flex-end;
    align-items: baseline; }
  .flex-container.topRound, .topRound.flex-container-col, .topRound.img-container {
    justify-content: space-around;
    align-items: flex-start; }
  .flex-container.bottomRound, .bottomRound.flex-container-col, .bottomRound.img-container {
    justify-content: space-around;
    align-items: flex-end; }

.flex-container-col {
  flex-direction: column; }
  .flex-container-col.round {
    justify-content: space-around; }
  .flex-container-col.center {
    justify-content: center; }
  .flex-container-col.left {
    align-items: flex-start; }
  .flex-container-col.right {
    align-items: flex-end; }
  .flex-container-col.top {
    justify-content: flex-start; }
  .flex-container-col.bottom {
    justify-content: flex-end; }
  .flex-container-col.vfull > * {
    flex: 1; }
  .flex-container-col.hfull {
    align-items: stretch; }
  .flex-container-col.leftCenter {
    align-items: flex-start;
    justify-content: center; }
  .flex-container-col.leftTop {
    align-items: flex-start;
    justify-content: flex-start; }
  .flex-container-col.leftBottom {
    align-items: flex-start;
    justify-content: flex-end; }
  .flex-container-col.rightCenter {
    align-items: flex-end;
    justify-content: center; }
  .flex-container-col.rightTop {
    align-items: flex-end;
    justify-content: flex-start; }
  .flex-container-col.rightBottom {
    align-items: flex-end;
    justify-content: flex-end; }
  .flex-container-col > span {
    display: block; }

.flex-grow1 {
  flex-grow: 1; }

.flex1 {
  flex: 1; }

.flex-grow2 {
  flex-grow: 2; }

.flex2 {
  flex: 2; }

.flex-grow3 {
  flex-grow: 3; }

.flex3 {
  flex: 3; }

.flex-grow4 {
  flex-grow: 4; }

.flex4 {
  flex: 4; }

.flex-grow5 {
  flex-grow: 5; }

.flex5 {
  flex: 5; }

.flex-basis0 {
  flex-basis: 0%; }

.flex-basis5 {
  flex-basis: 5%; }

.flex-basis10 {
  flex-basis: 10%; }

.flex-basis15 {
  flex-basis: 15%; }

.flex-basis20 {
  flex-basis: 20%; }

.flex-basis25 {
  flex-basis: 25%; }

.flex-basis30 {
  flex-basis: 30%; }

.flex-basis35 {
  flex-basis: 35%; }

.flex-basis40 {
  flex-basis: 40%; }

.flex-basis45 {
  flex-basis: 45%; }

.flex-basis50 {
  flex-basis: 50%; }

.flex-basis55 {
  flex-basis: 55%; }

.flex-basis60 {
  flex-basis: 60%; }

.flex-basis65 {
  flex-basis: 65%; }

.flex-basis70 {
  flex-basis: 70%; }

.flex-basis75 {
  flex-basis: 75%; }

.flex-basis80 {
  flex-basis: 80%; }

.flex-basis85 {
  flex-basis: 85%; }

.flex-basis90 {
  flex-basis: 90%; }

.flex-basis95 {
  flex-basis: 95%; }

.flex-basis100 {
  flex-basis: 100%; }

/**
  栅格系统
 */
.container, .row, .box-container, .box-row {
  position: relative; }
  .container::before, .row::before, .box-container::before, .box-row::before, .container::after, .row::after, .box-container::after, .box-row::after {
    content: " ";
    display: table; }
  .container::after, .row::after, .box-container::after, .box-row::after {
    clear: both; }

.box-span1, .span1, .box-col1, .col1, .box-span2, .span2, .box-col2, .col2, .box-span3, .span3, .box-col3, .col3, .box-span4, .span4, .box-col4, .col4, .box-span5, .span5, .box-col5, .col5, .box-span6, .span6, .box-col6, .col6, .box-span7, .span7, .box-col7, .col7, .box-span8, .span8, .box-col8, .col8, .box-span9, .span9, .box-col9, .col9, .box-span10, .span10, .box-col10, .col10, .box-span11, .span11, .box-col11, .col11, .box-span12, .span12, .box-col12, .col12, .box-col13, .col13, .box-col14, .col14, .box-col15, .col15 {
  float: left;
  position: relative;
  min-height: 1px; }

.container, .span1, .col1, .span2, .col2, .span3, .col3, .span4, .col4, .span5, .col5, .span6, .col6, .span7, .col7, .span8, .col8, .span9, .col9, .span10, .col10, .span11, .col11, .span12, .col12, .col13, .col14, .col15 {
  padding-right: 10px;
  padding-left: 10px; }

.span1.mini, .col1.mini, .span2.mini, .col2.mini, .span3.mini, .col3.mini, .span4.mini, .col4.mini, .span5.mini, .col5.mini, .span6.mini, .col6.mini, .span7.mini, .col7.mini, .span8.mini, .col8.mini, .span9.mini, .col9.mini, .span10.mini, .col10.mini, .span11.mini, .col11.mini, .span12.mini, .col12.mini, .col13.mini, .col14.mini, .col15.mini {
  padding-right: 10px/2;
  padding-left: 10px/2; }

.container {
  max-width: 375px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row.mini {
    margin-left: 10px/2;
    margin-right: 10px/2; }

.box-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.box-span1, .span1 {
  width: 8.33333%; }

.box-col1, .col1 {
  width: 6.66667%; }

.box-span2, .span2 {
  width: 16.66667%; }

.box-col2, .col2 {
  width: 13.33333%; }

.box-span3, .span3 {
  width: 25%; }

.box-col3, .col3 {
  width: 20%; }

.box-span4, .span4 {
  width: 33.33333%; }

.box-col4, .col4 {
  width: 26.66667%; }

.box-span5, .span5 {
  width: 41.66667%; }

.box-col5, .col5 {
  width: 33.33333%; }

.box-span6, .span6 {
  width: 50%; }

.box-col6, .col6 {
  width: 40%; }

.box-span7, .span7 {
  width: 58.33333%; }

.box-col7, .col7 {
  width: 46.66667%; }

.box-span8, .span8 {
  width: 66.66667%; }

.box-col8, .col8 {
  width: 53.33333%; }

.box-span9, .span9 {
  width: 75%; }

.box-col9, .col9 {
  width: 60%; }

.box-span10, .span10 {
  width: 83.33333%; }

.box-col10, .col10 {
  width: 66.66667%; }

.box-span11, .span11 {
  width: 91.66667%; }

.box-col11, .col11 {
  width: 73.33333%; }

.box-span12, .span12 {
  width: 100%; }

.box-col12, .col12 {
  width: 80%; }

.box-col13, .col13 {
  width: 86.66667%; }

.box-col14, .col14 {
  width: 93.33333%; }

.box-col15, .col15 {
  width: 100%; }

/**
  img容器
 */
.img-container {
  overflow: hidden; }
  .img-container img {
    max-height: 100%;
    max-width: 100%; }
  .img-container.full img {
    width: 100%;
    height: 100%; }
  .img-container.flex-x img {
    max-width: none; }
  .img-container.flex-y img {
    max-height: none; }
  .img-container.radius {
    border-radius: 4px; }
  .img-container.round {
    border-radius: 375px; }
  .img-container.border {
    border: 1px solid #eee; }

/*# sourceMappingURL=ZensUI.css.map */
.header-img {
  width: 100%;
  height: 0;
  padding-bottom: 48%;
  background: url(../img/headerImg.jpg) no-repeat;
  background-size:100% 100%;
}
.shade-on-img {
  width: 100%;
  padding-bottom: 48%;
  background-color:rgba(0,0,0,0.5);
}
.fs-24 {
  font-size: .32rem;
}
.fs-28 {
  font-size: .3733333333rem;
}
.fs-48 {
  font-size: .64rem;
}
.fs-36 {
  font-size: .48rem;
}
.fs-34 {
  font-size: .46rem;
}
.fs-32 {
  font-size: .426666667rem;
}
.fs-60 {
  font-size: .8rem;
}
.fs-75 {
  font-size: 1rem!important;
}
.fs-128 {
  font-size: 1.70666666rem;
}
.word-on-shade {
  margin: 1rem auto;
  width: 100%;
  line-height: 1.2rem;
}
.lh-45 {
  line-height: .6rem;
}
.lh-36 {
  line-height: .48rem;
}
.lh-42 {
  line-height: .56rem;
}
.lh-60 {
  line-height: .8rem;
}
.lh-96 {
  line-height: 1.28rem;
}
.bg-blue {
  background-color: #4285F4;
}
.text-blue {
  color: #4285F4;
}
.card-container {
  border-radius: 5px;
  background-color: #fff;
}
.card-img {
  width: 1.26rem; 
}
.card-content {
  height: 2.4rem;
}
.shade-on-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color:rgba(0,0,0,0.5);
}

.detail-img{
  width: 100%; 
  padding-bottom: 66.67%; 
  height: 0;
}
.shadow-black-down {
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.shadow-black-v {
  box-shadow: 0 -1px 6px rgba(228,228,228,0.2),0 4px 10px rgba(0,0,0,0.4);
}
.shadow-blue {
  box-shadow: 0 4px 10px rgba(0,123,255,0.4);
}
.evaluate {
  width: 2.2rem;
  height: .96rem;
}
.zoom-multiple160 {
  zoom: 1.6;
}
.long.btn{
  width: 4.72rem;
  height: .96rem;
}
.w-p100{
  width: 100%;
}
.w-12{
  width: .32rem;
}
.h-p100{
  height: 100%;
}
.full-shade-on-page {
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
}
.popup{
  background-color:  #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}
.modal-open {
  position: fixed;
  width: 100%;
}
.popup-enter-passcode-wrap {
  display: flex;
  height: 1.0666667rem;
  border-bottom: 1px solid #bcbcbd;
  position: relative;
}
.input-prompt {
  position: absolute;
  bottom: 0.26666667rem;
  left: 0px;
  color: #5E5E5E;
  display: inline-block;
  width: 100%;
}
.popup-enter-passcode-input {
  position: relative;
  left: -5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  z-index: 101;
  color: #202124;
}
.popup-enter-passcode-input-btn {
  width: 0.3rem;
  height: 0.4266667rem;
  margin-top: 0.3rem;
}
.under-line {
  position: absolute;
  bottom: -2px;
  background-color: #4285F4;
  left: 50%;
  right: 50%;
  margin: 0 auto;
}
.popup-enter-passcode-link {
  margin-top: 25px;
  text-align: right;
  color: #1976d2;
}
.landing-header {
  background: url(../img/landing_top.png) no-repeat;
  background-size:100% 100%;
  width: 100%;
  padding-bottom: 46.296296296%;
}
.landing-footer {
  background: url(../img/landing_bottom.png) no-repeat;
  background-position: center bottom;
  background-size:100% auto;
}
.input-under-line {
  background-color: #000;
  margin: 0 auto;
  height: 1px;
  width: 86%;
}
.guide-input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: #202124;
}
.longBtn {
  width: 4rem;
  height: 1rem;
}
.bg-dark-blue {
  background-color: #607d8b;
}
.text-dark-blue {
  color: #5c7b97!important;
}
.h-45 {
  height: .6rem;
}
.feedback-textarea {
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: #202124;
}
.h-p40 {
  height: 40%;
}
.inner-box {
  box-sizing: border-box;
}
.hfull {
  flex: 1;
}
.h-p10 {
  height: 10%;
}
.textarea-under-line {
  background-color: #000;
  margin: 0 auto;
  height: 1px;
  width: 100%;
  bottom: 10%;
}
.v-button-center {
  -webkit-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
  transform: translateY(40%); }

.h-150 {
  height: 4rem;
}

.feedback-textarea::-webkit-input-placeholder{
  color: #a7a7a7;
}    
.feedback-textarea:-moz-placeholder{
  color: #a7a7a7;
}                  
.feedback-textarea::-moz-placeholder{
  color: #a7a7a7;
}                 
.feedback-textarea::-ms-input-placeholder{
  color: #a7a7a7;
}    
.feedback-btn {
  width: 3rem;
  height: .96rem;
}
.icons{
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  background-color: #28a745;
}
.icon {
  float: left;
  width: 25%;
  padding-bottom: 25%;
  background: #FE8888;
}